flows.json
[
    {
        "id": "51cf5107eb42e080",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82c17d7d273f16ef",
        "type": "mqtt in",
        "z": "51cf5107eb42e080",
        "name": "",
        "topic": "stat/tasmota_DCA538/POWER",
        "qos": "0",
        "datatype": "auto",
        "broker": "8086569114f01eb8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "8bc761e685dc505f"
            ]
        ]
    },
    {
        "id": "92db9baf35fc8ba5",
        "type": "mqtt out",
        "z": "51cf5107eb42e080",
        "name": "",
        "topic": "cmnd/tasmota_DCA538/Power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8086569114f01eb8",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "441757982dabf156",
        "type": "debug",
        "z": "51cf5107eb42e080",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "1027067a5527b74b",
        "type": "inject",
        "z": "51cf5107eb42e080",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "92db9baf35fc8ba5"
            ]
        ]
    },
    {
        "id": "cea062562ef8b3c5",
        "type": "inject",
        "z": "51cf5107eb42e080",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "92db9baf35fc8ba5"
            ]
        ]
    },
    {
        "id": "a4bb4c7ef75d62ec",
        "type": "aedes broker",
        "z": "51cf5107eb42e080",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 470,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7b3dace906c21ecb",
        "type": "ui_led",
        "z": "51cf5107eb42e080",
        "order": 0,
        "group": "ef95ac4fee84c8c9",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 910,
        "y": 560,
        "wires": []
    },
    {
        "id": "8bc761e685dc505f",
        "type": "function",
        "z": "51cf5107eb42e080",
        "name": "",
        "func": "\nreturn {payload:msg.payload == \"ON\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 560,
        "wires": [
            [
                "7b3dace906c21ecb",
                "441757982dabf156"
            ]
        ]
    },
    {
        "id": "2989d1dc1076c062",
        "type": "ui_switch",
        "z": "51cf5107eb42e080",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "ef95ac4fee84c8c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "92db9baf35fc8ba5"
            ]
        ]
    },
    {
        "id": "8086569114f01eb8",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "192.168.2.30",
        "port": "1883",
        "clientid": "test",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ef95ac4fee84c8c9",
        "type": "ui_group",
        "name": "Default",
        "tab": "55ddd31313a31d18",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "55ddd31313a31d18",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]